services:
  web1:
    build: .
    container_name: flask-app-1
    ports:
      - "5000:5000"
    environment:
      APP_HOST: 0.0.0.0
      APP_PORT: 5000
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URI: mysql+pymysql://user:password@db:3306/palindromedb
    depends_on:
      - db
      - redis
    restart: always

  web2:
    build: .
    container_name: flask-app-2
    ports:
      - "5001:5000"
    environment:
      APP_HOST: 0.0.0.0
      APP_PORT: 5000
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URI: mysql+pymysql://user:password@db:3306/palindromedb
    depends_on:
      - db
      - redis
    restart: always

  db:
    image: mysql:5.7
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: palindromedb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    restart: always

  redis:
    image: redis:latest
    container_name: redis-cache
    ports:
      - "6379:6379"
    restart: always
